body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: beige;
  padding: 2rem;
}
ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  font-size: larger;
  list-style: none;
  height: 1cm;
}
